p {
    margin: 0;
}
.h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 73px;

    background: linear-gradient(90deg, #0088cc 30.09%, rgba(186, 59, 133, 0.3) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.sec1 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec2 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0;
}
.sec3 {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 80px 0; */
}
.sec4 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0;
}
.sec1 .overly {
    /* position: absolute;
    width: 1132px;
    height: 1132px;
    left: 298px;
    top: 364px;
    
    background: linear-gradient(180deg, #CCB800 0%, rgba(186, 59, 133, 0) 47.92%);
    opacity: 0.12;
    filter: blur(30px); */
}
.LineSteps {
    position: relative;
    width: 85%;
    margin: 20px auto;
    height: 3px;
    background-color: #203135;
}
.stepCircle {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #203135;
}
.step1 {
    position: absolute;
    left: 0;
    top: -16.5px;
    width: 33px;
}
.step2 {
    position: absolute;
    left: 33%;
    top: -16.5px;
    width: 33px;
}
.step3 {
    position: absolute;
    left: 66%;
    top: -16.5px;
    width: 33px;
}
.step4 {
    position: absolute;
    left: 100%;
    top: -16.5px;
    width: 33px;
}
.stepText1 {
    position: relative;
    left: -30px;
    top: 10px;
    width: 105px;
    font-weight: bold;
}
.stepText2 {
    position: relative;
    left: -52px;
    top: 10px;
    width: 145px;
    font-weight: bold;
}
.stepText3 {
    position: relative;
    left: -17px;
    top: 10px;
    font-weight: bold;
}
.stepText4 {
    position: relative;
    left: -70px;
    top: 10px;
    width: 180px;
    font-weight: bold;
}
.aboutProject p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    color: #203135;
}
.github {
    height: 113px;
    max-width: 430px;
    width: 100%;
    border-radius: 50px;
    background: #0088cc;
    border-radius: 50px !important;
    margin-top: 20px !important;
}
.github img{
  margin-left: 10px;
}
.launchApp {
    height: 100px;
    max-width: 500px;
    width: 100%;
    border-radius: 50px;
    background: #0088cc;
    border-radius: 50px !important;
    font-size: 20px !important;
}
.sec5 {
    margin: 80px 0;
}
.sec6 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    text-decoration: none;
    color: #203135;
}
.sec6 img {
    margin-right: 10px;
}
.sec7 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.sec7 img {
    margin-right: 10px;
}
