.mainContainer {
}

.appHeader {
  height: 50px;
}
.categoryContainer {
}

.eventsList {
}

.cardLogo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 2px solid #179bdd;
}

.eventsCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 2px #9d9999;
  width: 240px;
  height: 390px;
}
.eventsCard-upper {
  height: 100px;
  background-color: #179cde;
}

.eventsCard-downer {
  align-items: center;
}
.eventsCard{
    background-color: #FFFFFF ;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 2px #9d9999;
    width: 240px;
    height: 410px;
}
.eventsCard-upper{
    height: 100px;
    background-color: #179CDE ;

}

.feeText {
  font-size: 12px;
}

.requestBtn {
  font-size: 14px !important;
}

.alh_box_choose_state {
}
.alh_desc {
  font-size: 12px;
}
.alh_box_choose_state span {
  font-size: 12px;
  position: relative;
  bottom: -5px;
  color: #1976d2;
}
